/* You can add global styles to this file, and also import other style files */
.form__group {
  position: relative;
  margin: 5px 0 18px; }
  .form__group .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border: 1px solid #ced4da;
    outline: 0;
    color: #212529;
    background: transparent;
    transition: border-color 0.2s;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    z-index: 1;
    position: relative;
    min-height: 38px; }
  .form__group.outline-english {
    text-align: left; }
    .form__group.outline-english .form__field {
      text-align: left; }
    .form__group.outline-english label,
    .form__group.outline-english .form__field:focus ~ .form__label {
      left: 10px;
      right: unset;
      text-align: left; }
    .form__group.outline-english .calendar-icon {
      left: unset;
      right: 10px; }
  .form__group .form__field::placeholder {
    color: transparent; }
  .form__group .form__field:placeholder-shown ~ .form__label {
    font-size: 12px;
    font-weight: 500;
    cursor: text;
    top: 10px;
    z-index: 0;
    color: #495057; }
  .form__group label,
  .form__group .form__field:focus ~ .form__label {
    position: absolute;
    top: -10px;
    right: 10px;
    display: block;
    transition: 0.1s;
    color: #212529;
    background: white;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700;
    z-index: 1; }
  .form__group .calendar-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #ffa800; }

body {
  font-family: "cairo", sans-serif;
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
  position: relative; }

html {
  overflow-x: hidden; }

/*Start General*/
textarea {
  resize: none; }

ul {
  list-style: none;
  margin-bottom: 0; }

label {
  font-size: 14px; }

a {
  color: #343638; }
  a:focus, a:hover {
    text-decoration: none;
    color: #343638;
    outline: none; }

input.form-control:focus,
select.form-control:focus {
  outline: none;
  border-color: initial;
  box-shadow: none; }

button:focus,
.btn:focus,
.form-control:focus,
select {
  outline: 0;
  box-shadow: none !important; }

* {
  border: 0 none;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
.order-body .order-header .number,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: "cairo", sans-serif !important; }

p {
  margin: 0;
  padding: 0;
  font-size: 14px; }

a,
button {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  cursor: pointer; }

input.form-control:focus,
select.form-control:focus {
  outline: none;
  border-color: initial;
  -webkit-box-shadow: none;
  box-shadow: none; }

input:disabled {
  background: rgba(112, 112, 112, 0.16) !important; }

.position-relative {
  position: relative; }

.btn-orange, .btn-red, .btn-black, .btn-outline {
  border-radius: 4px;
  background: #ffa800;
  color: white;
  border: 1px solid #ffa800;
  min-width: 70px;
  font-size: 12px;
  padding: 6px 14px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  min-width: 80px; }
  .btn-orange:hover, .btn-red:hover, .btn-black:hover, .btn-outline:hover {
    background: #e70000;
    color: white;
    border-color: #e70000; }

.btn-red {
  background-color: #e70000;
  border-color: #e70000; }
  .btn-red:hover {
    background: #ffa800;
    border-color: #ffa800; }

.btn-black {
  background-color: #343638;
  border-color: #343638; }
  .btn-black:hover {
    background: #ffa800;
    border-color: #ffa800; }

.btn-outline {
  background-color: transparent;
  border-color: #ffa800;
  color: #343638; }
  .btn-outline:hover {
    background: #ffa800;
    border-color: #ffa800; }

.btn-sort {
  background: transparent;
  width: 20px;
  height: 20px;
  font-size: 15px;
  color: #e70000; }

.btn-cancel {
  background: transparent;
  border-bottom: 1px solid #e70000;
  color: #e70000;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 700; }

.btn-file {
  display: inline-block;
  padding: 0; }
  .btn-file label {
    margin-bottom: 0;
    padding: 6px 14px;
    cursor: pointer; }
  .btn-file input[type="file"] {
    display: none; }

.btn-expandable, .btn-popup {
  width: 30px;
  height: 30px;
  background: #ffa800;
  color: white;
  font-size: 20px;
  margin-left: 5px;
  flex: none; }

.btn-popup {
  background: #e70000;
  margin-left: 0;
  margin-right: 5px; }

.orange-color {
  color: #ffa800 !important; }

.black-color {
  color: black !important; }

.red-color {
  color: #e70000 !important; }

.gray-color {
  color: #9a9a9a !important; }

.orange-bg {
  background: #ffa800 !important; }

.black-bg {
  background: black !important; }

.red-bg {
  background: #e70000 !important; }

.gray-bg {
  background: #9a9a9a !important; }

.w-20 {
  width: 20px !important; }

.w-55 {
  width: 55px !important; }

.w-80 {
  width: 80px !important; }

.w-125 {
  width: 125px !important; }

.w-200 {
  width: 200px !important; }

.w-250 {
  width: 250px !important; }

.text-samll {
  font-size: 10px; }

.custom-select {
  cursor: pointer;
  font-size: 12px;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  background-position-x: 7px;
  height: 32px; }

.outline-label {
  margin-top: 5px; }
  .outline-label label {
    position: absolute;
    margin-bottom: 0px;
    top: -5px;
    background: white;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700; }
  .outline-label.outline-english {
    text-align: left;
    direction: ltr; }
    .outline-label.outline-english .custom-select {
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      background-position-x: right;
      background: #fff url(../images/download.svg) no-repeat right 0.75rem center;
      background-size: 8px 10px; }
  .outline-label .custom-select {
    height: 38px; }

.list-title {
  background: #ffa800;
  color: white;
  font-size: 12px;
  padding: 10px;
  font-weight: 700;
  margin-bottom: 20px; }

.login-page {
  min-height: calc(100vh);
  position: relative;
  display: flex;
  align-items: center; }

.login-container .login-intro {
  margin-bottom: 35px;
  margin-top: 20px; }
  .login-container .login-intro img {
    margin-bottom: 70px; }
  .login-container .login-intro h4 {
    font-size: 18px;
    color: #343638;
    font-weight: 700;
    margin-bottom: 18px; }
.login-container .login-header h5 {
  margin-bottom: 25px;
  position: relative;
  padding-right: 10px;
  color: #e70000;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px; }
  .login-container .login-header h5::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background: #e70000; }
@media (min-width: 767px) {
  .login-container .login-header .form {
    max-width: 450px; } }
.login-container .login-header .reset {
  color: #9a9a9a;
  font-size: 14px; }
  .login-container .login-header .reset:hover {
    color: #343638; }
.login-container .login-header .btn-orange, .login-container .login-header .btn-red, .login-container .login-header .btn-black, .login-container .login-header .btn-outline {
  min-width: 150px; }
@media (min-width: 767px) {
  .login-container .bg-image {
    background: url(../images/login_bg.jpg) top center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 50%; } }
.login-container .code-validation {
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20px; }
.login-container .register-image {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .login-container .register-image .my-profile-image {
    border: 0; }
.login-container .form-control {
  padding: 0 0.75rem;
  height: 42px;
  color: #343638;
  font-size: 14px; }
.login-container textarea.form-control {
  padding: 0.75rem;
  height: auto; }
.login-container ::-webkit-input-placeholder {
  color: #9a9a9a;
  font-size: 14px; }
.login-container :-ms-input-placeholder {
  color: #9a9a9a;
  font-size: 14px; }
.login-container ::placeholder {
  color: #9a9a9a;
  font-size: 14px; }

.change-password {
  position: relative; }
  .change-password input {
    padding-left: 40px !important; }
  .change-password i {
    position: absolute;
    left: 0;
    top: 0px;
    width: 30px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    color: #9a9a9a; }
    .change-password i:hover {
      color: #ffa800; }

@media (min-width: 768px) {
  .dashboard-container {
    margin-top: -145px; } }
.dashboard-container .custom-select {
  max-width: 120px;
  background-color: #ffa800;
  border-color: #ffa800;
  color: white; }
  .dashboard-container .custom-select.red-select {
    background-color: #e70000;
    border-color: #e70000; }

.dashboard-chart {
  border-radius: 8px;
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.16); }
  .dashboard-chart h6 {
    margin-bottom: 0;
    font-size: 13px; }

.dashboard-card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.16); }
  .dashboard-card h5 {
    font-size: 13px;
    margin-bottom: 0; }
  .dashboard-card h3, .dashboard-card .order-body .order-header .number, .order-body .order-header .dashboard-card .number {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0; }

.chartjs-render-monitor {
  max-height: 300px; }

.users-container, .user-details {
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.16);
  padding-bottom: 10px; }
  .users-container .nav-tabs, .user-details .nav-tabs {
    background: white;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden; }
    .users-container .nav-tabs .nav-item, .user-details .nav-tabs .nav-item {
      border-right: 1px solid white; }
      .users-container .nav-tabs .nav-item .nav-link, .user-details .nav-tabs .nav-item .nav-link {
        border: 0;
        border-radius: 0;
        color: #e70000;
        font-size: 13px;
        padding: 15px 20px;
        cursor: pointer;
        text-transform: capitalize; }
        .users-container .nav-tabs .nav-item .nav-link:hover, .user-details .nav-tabs .nav-item .nav-link:hover, .users-container .nav-tabs .nav-item .nav-link.active, .user-details .nav-tabs .nav-item .nav-link.active {
          background: #e70000;
          color: white;
          border: 0;
          border-radius: 0; }
  .users-container .order-table .order-image, .user-details .order-table .order-image {
    height: 35px;
    width: 35px;
    border-radius: 50%; }

.user-details {
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 10px; }
  .user-details .user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
    min-height: 45px; }
    .user-details .user-header h4 {
      font-size: 13px;
      margin-bottom: 3px; }
    .user-details .user-header .user-status {
      display: flex; }
  .user-details .user-body input,
  .user-details .user-body textarea {
    padding: 5px;
    height: auto;
    font-size: 14px; }
    .user-details .user-body input[disabled],
    .user-details .user-body textarea[disabled] {
      border: none;
      background: transparent;
      font-size: 12px;
      color: #e70000; }
  .user-details .user-body .title-label {
    text-transform: capitalize;
    font-weight: 700; }
  .user-details .user-body .color-orange input {
    color: #ffa800;
    font-size: 12px; }
  .user-details .user-body .user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid; }
  .user-details .checkbox {
    margin-bottom: 0; }
    .user-details .checkbox label {
      text-align: center;
      display: inline-block; }
  .user-details.roles-container .user-header {
    background: #e70000;
    border-radius: 0;
    padding: 10px;
    min-height: 38px; }
    .user-details.roles-container .user-header h4 {
      margin-bottom: 3px;
      color: white; }
  .user-details.roles-container .user-body thead {
    background: white; }
  .user-details.reply-table .user-header {
    background: #ffa800; }
  .user-details .interests {
    padding: 10px 0;
    background: white; }
    .user-details .interests p {
      padding: 0 6px;
      color: #343638;
      font-size: 12px;
      font-weight: 400; }

.custom-radio, .custom-check {
  padding-left: unset; }
  .custom-radio .custom-control-label, .custom-check .custom-control-label {
    cursor: pointer;
    font-size: 14px;
    color: #9a9a9a;
    padding-right: 1.5rem; }
    .custom-radio .custom-control-label::before, .custom-check .custom-control-label::before {
      top: 6px;
      left: unset;
      right: 0;
      background: transparent;
      border: 1px solid #9a9a9a; }
    .custom-radio .custom-control-label::after, .custom-check .custom-control-label::after {
      top: 6px;
      left: unset;
      right: 0; }
  .custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-check .custom-control-input:checked ~ .custom-control-label::before {
    background: transparent; }
  .custom-radio .custom-control-input:checked ~ .custom-control-label:after, .custom-check .custom-control-input:checked ~ .custom-control-label:after {
    background: #ffa800;
    top: 9px;
    right: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%; }

.custom-control-inline {
  margin-right: 0;
  margin-left: 1rem;
  align-items: center; }

.custom-check .custom-control-label::before {
  border-radius: 0 !important; }
.custom-check .custom-control-label::after {
  border-radius: 0 !important; }

.main-navbar {
  position: relative;
  background: url(../images/topheader.jpg) no-repeat;
  background-size: cover;
  min-height: 280px;
  padding-top: 20px; }
  .main-navbar nav {
    padding: 0; }
  .main-navbar .nav-item .nav-link {
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px;
    background: transparent !important; }
  .main-navbar .nav-item .language-btn {
    border: 1px solid white; }
  .main-navbar .nav-item:hover .nav-link {
    color: white; }
  .main-navbar .nav-item.active a {
    color: white; }
  .main-navbar .nav-item:focus a {
    color: white; }
  .main-navbar .profile-nav {
    position: relative;
    align-items: center; }
    .main-navbar .profile-nav li {
      display: inline-block;
      padding: 0 10px; }
      .main-navbar .profile-nav li.notification {
        border-left: 2px solid #9a9a9a; }
      .main-navbar .profile-nav li .user_image {
        max-width: 30px;
        max-height: 30px;
        border-radius: 50%;
        margin-left: 5px; }
      .main-navbar .profile-nav li .dropdown-item img {
        width: 18px;
        margin-left: 10px; }
      .main-navbar .profile-nav li .dropdown-item .profile-image-mobile {
        display: none; }
      .main-navbar .profile-nav li .dropdown-item:hover .profile-image-mobile {
        display: inline-block; }
      .main-navbar .profile-nav li .dropdown-item:hover .profile-image {
        display: none; }
      .main-navbar .profile-nav li:last-child {
        padding-left: 0;
        margin-left: 0;
        border: 0; }
      .main-navbar .profile-nav li a {
        color: #9a9a9a; }
  .main-navbar .logo-mobile {
    display: none; }
  .main-navbar .profile-nav-mobile {
    box-shadow: 0 0 7px 2px rgba(112, 112, 112, 0.16);
    padding: 10px 0;
    display: none; }

.heart-icon {
  position: relative;
  background: white;
  text-align: center; }
  .heart-icon:hover {
    color: #e70000; }
  .heart-icon span {
    position: absolute;
    right: -6px;
    top: -10px;
    min-width: 25px;
    min-height: 25px;
    background: #e70000;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
    border: 2px solid white; }

.custom-dropdown {
  padding: 0;
  border: none;
  border-radius: 0;
  text-align: right;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.16);
  min-width: 180px;
  max-width: 250px;
  right: auto;
  left: 0;
  max-height: 200px;
  overflow: auto;
  top: 52px; }
  .custom-dropdown a,
  .custom-dropdown button {
    padding: 8px 10px;
    font-size: 12px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.16);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; }
    .custom-dropdown a:hover,
    .custom-dropdown button:hover {
      background: #e70000;
      color: white !important; }

.sidebar {
  margin-top: -138px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .sidebar .sidebar-body {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 85px 85px; }
    .sidebar .sidebar-body a {
      font-size: 12px;
      color: #343638;
      min-width: 79px;
      min-height: 79px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-left: 5px;
      border-radius: 4px;
      font-weight: 600;
      margin-bottom: 6px;
      text-transform: capitalize; }
      .sidebar .sidebar-body a img {
        display: block;
        margin-bottom: 5px; }
      .sidebar .sidebar-body a:hover {
        background: #e70000;
        color: white; }
        .sidebar .sidebar-body a:hover .img-active {
          display: none; }
        .sidebar .sidebar-body a:hover .img-inactive {
          display: block; }
    .sidebar .sidebar-body .img-inactive {
      display: none; }
    .sidebar .sidebar-body .active {
      background: #e70000;
      color: white; }
      .sidebar .sidebar-body .active .img-active {
        display: none; }
      .sidebar .sidebar-body .active .img-inactive {
        display: block; }

.main-container {
  position: relative; }
  @media (min-width: 768px) {
    .main-container {
      margin-top: -145px; } }
  .main-container .col-md-4,
  .main-container .col-md-5,
  .main-container .col-md-6,
  .main-container .col-md-7,
  .main-container .col-md-8,
  .main-container .col-lg-8,
  .main-container .col-lg-4,
  .main-container .col-md-12 {
    padding-right: 6px;
    padding-left: 6px; }

.double-header .top-search {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.double-header .top-header-page {
  margin-bottom: 0;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.top-search {
  background: rgba(0, 0, 0, 0.33);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 20px; }
  .top-search.top-report-search {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(112, 112, 112, 0.16); }
    .top-search.top-report-search.top-search-visitors-rate {
      flex-wrap: wrap;
      justify-content: normal; }
    .top-search.top-report-search li:first-child {
      flex: none; }
    .top-search.top-report-search .header-select {
      position: relative; }
      .top-search.top-report-search .header-select .custom-select {
        color: #343638; }
    .top-search.top-report-search .date-group {
      color: #343638; }
      .top-search.top-report-search .date-group .btn {
        color: #e70000; }
    .top-search.top-report-search .date-calendar {
      color: #343638 !important;
      font-size: 12px; }
      .top-search.top-report-search .date-calendar::-webkit-input-placeholder {
        color: #343638; }
      .top-search.top-report-search .date-calendar:-ms-input-placeholder {
        color: #343638; }
      .top-search.top-report-search .date-calendar::placeholder {
        color: #343638; }
  .top-search li {
    margin-left: 8px;
    margin-bottom: 2px; }
    .top-search li.search-title h6 {
      font-size: 13px;
      color: white;
      margin-bottom: 0;
      font-weight: 700; }
    .top-search li.search-input {
      flex: 1; }
    .top-search li:last-child {
      margin-left: 0;
      flex: none; }
  .top-search .search-input {
    min-width: 285px;
    border-radius: 0 8px 8px 0;
    border-color: transparent; }
  .top-search ::-webkit-input-placeholder {
    color: #9a9a9a;
    font-size: 12px; }
  .top-search :-ms-input-placeholder {
    color: #9a9a9a;
    font-size: 12px; }
  .top-search ::placeholder {
    color: #9a9a9a;
    font-size: 12px; }
  .top-search .date-group {
    color: white;
    font-size: 11px;
    align-items: center; }
    .top-search .date-group .btn {
      color: white;
      padding: 0; }
  .top-search .header-select {
    position: relative; }
    .top-search .header-select .custom-select {
      cursor: pointer;
      color: white;
      background: transparent;
      font-size: 12px;
      border-color: transparent;
      text-transform: capitalize;
      max-width: 134px;
      padding: 0 10px; }
      .top-search .header-select .custom-select option {
        background: transparent; }
    .top-search .header-select .select-group {
      display: flex;
      align-items: center; }
      .top-search .header-select .select-group .select-arrow {
        color: #e70000; }
  .top-search .calendar-search {
    position: relative; }
    .top-search .calendar-search .form__field {
      color: white;
      background: transparent;
      font-size: 12px;
      position: relative;
      z-index: 1; }
    .top-search .calendar-search .calendar-icon {
      color: #e70000;
      position: absolute;
      left: 25px;
      top: 4px; }
    .top-search .calendar-search ::-webkit-input-placeholder {
      color: white;
      font-size: 12px; }
    .top-search .calendar-search :-ms-input-placeholder {
      color: white;
      font-size: 12px; }
    .top-search .calendar-search ::placeholder {
      color: white;
      font-size: 12px; }
  .top-search .dropdown-group .btn {
    color: white;
    background: transparent;
    font-size: 13px; }
    .top-search .dropdown-group .btn:focus, .top-search .dropdown-group .btn:hover {
      background: transparent;
      outline: none;
      box-shadow: none; }
  .top-search .btn-search {
    width: 40px;
    min-width: auto;
    border-radius: 8px 0 0 8px; }
  .top-search ngb-datepicker.dropdown-menu {
    padding: 0;
    top: 100% !important;
    transform: translate(0) !important; }

.order-body {
  padding: 10px 10px 15px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.16); }
  .order-body .order-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.16);
    min-height: 34px; }
    .order-body .order-header .page-breadcrumb {
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: none; }
      .order-body .order-header .page-breadcrumb .breadcrumb {
        border: 0;
        padding: 0;
        margin: 0; }
    .order-body .order-header h3, .order-body .order-header .number {
      font-size: 14px;
      color: #343638;
      font-weight: 600;
      margin-bottom: 2px; }
    .order-body .order-header .badge {
      margin-left: 5px;
      min-width: 40px;
      height: 25px;
      line-height: 25px;
      padding: 0 2px;
      background: #ffa800;
      color: white;
      border-radius: 20px; }
    @media (max-width: 767px) {
      .order-body .order-header .btn-red {
        margin-bottom: 2px; } }
  .order-body .circle-image {
    height: 35px;
    width: 35px;
    border-radius: 50%; }

.order-table .table thead {
  background: #f1f5f7; }
.order-table .table td {
  font-weight: 600;
  color: #343638;
  font-size: 12px;
  vertical-align: middle;
  padding: 4px;
  text-transform: lowercase;
  height: 50px; }
.order-table .table th {
  font-weight: 700;
  color: #343638;
  font-size: 11px;
  vertical-align: middle;
  text-transform: capitalize;
  border-bottom: 1px;
  padding: 10px 4px; }
.order-table .table .name {
  font-weight: 700;
  color: #343638;
  font-size: 12px;
  text-transform: lowercase; }
.order-table .img-table {
  height: 50px;
  width: 50px; }
.order-table .custom-select {
  cursor: pointer;
  font-size: 12px;
  width: auto;
  max-width: 150px; }

.table-dropdown .dropdown-toggle {
  background: transparent;
  font-size: 22px;
  color: #343638;
  padding: 4px 6px; }
  .table-dropdown .dropdown-toggle:hover {
    color: #e70000; }
  .table-dropdown .dropdown-toggle::after {
    display: none; }
.table-dropdown .custom-dropdown {
  text-align: center;
  left: 0 !important;
  right: auto !important;
  min-width: 100px;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.16);
  border-radius: 8px;
  text-align: right; }
  .table-dropdown .custom-dropdown i {
    margin-left: 10px; }

.top-header-page li {
  margin-bottom: 2px;
  margin-left: 1px; }
  .top-header-page li:first-child {
    flex: none; }
.top-header-page .btn-red {
  min-width: 200px;
  background: rgba(231, 0, 0, 0.5);
  border-color: #ffa800; }
  .top-header-page .btn-red:hover, .top-header-page .btn-red.active {
    background: #e70000;
    border-color: #e70000; }
.top-header-page.top-header-data .btn-red {
  min-width: 140px; }
@media (max-width: 500px) {
  .top-header-page {
    justify-content: center !important; }
    .top-header-page .btn-red {
      min-width: 150px; } }

.page-breadcrumb {
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(112, 112, 112, 0.16); }
  .page-breadcrumb.inner-breadcrumb {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0; }
    .page-breadcrumb.inner-breadcrumb .breadcrumb {
      border-bottom: 0;
      margin: 0;
      padding: 0; }
  .page-breadcrumb .breadcrumb-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(112, 112, 112, 0.16);
    flex-wrap: wrap; }
    .page-breadcrumb .breadcrumb-view .breadcrumb {
      border: 0;
      margin-bottom: 2px; }
  .page-breadcrumb .breadcrumb {
    background: white;
    border-bottom: 1px solid rgba(112, 112, 112, 0.16);
    border-radius: 0; }
    .page-breadcrumb .breadcrumb .breadcrumb-item {
      color: #343638;
      font-size: 13px;
      text-transform: capitalize;
      font-weight: 600; }
  .page-breadcrumb .breadcrumb-action {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .page-breadcrumb .breadcrumb-action .custom-select,
    .page-breadcrumb .breadcrumb-action .btn-red {
      margin-left: 4px; }
  @media (max-width: 991px) {
    .page-breadcrumb .px-5 {
      padding: 2px 5px !important; } }

.custom-tabs {
  border-bottom: 0;
  margin-bottom: 15px; }
  .custom-tabs .nav-item .nav-link {
    border: 0;
    border: 1px solid rgba(112, 112, 112, 0.16);
    border-radius: 0;
    color: #343638;
    font-size: 11px;
    padding: 11px 15px;
    font-weight: 700; }
    .custom-tabs .nav-item .nav-link.active, .custom-tabs .nav-item .nav-link:hover {
      background: #ffa800;
      color: white; }
  .custom-tabs.justify-content-change-content .nav-item .nav-link {
    border: 1px solid #9a9a9a;
    color: #9a9a9a;
    padding: 10px 20px; }
    .custom-tabs.justify-content-change-content .nav-item .nav-link.active, .custom-tabs.justify-content-change-content .nav-item .nav-link:hover {
      color: white;
      border-color: #e70000;
      background: #e70000; }

.add-new-release {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px; }
  .add-new-release .cover-container {
    display: flex;
    align-items: flex-end; }
    .add-new-release .cover-container .cover-title {
      font-size: 13px;
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 700;
      color: #343638; }
    .add-new-release .cover-container .release-image {
      width: 100px;
      margin-left: 10px; }

.minsiter-logo {
  width: 95px;
  height: 95px; }

.event-logo {
  width: 150p;
  height: 120px; }

.minister-list h4 {
  font-size: 13px;
  color: #343638;
  font-weight: 700; }
.minister-list h5 {
  font-size: 12px;
  color: #343638; }

.minister-details label {
  font-size: 11px;
  font-weight: 700; }
.minister-details span {
  font-size: 12px; }

.interests {
  display: inline-block;
  background: rgba(112, 112, 112, 0.16);
  min-width: 90px;
  padding: 7px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700; }

.link {
  font-size: 12px !important;
  color: blue !important; }

.description {
  font-size: 12px;
  color: #343638; }

.banner {
  width: 100%;
  height: 180px; }

.banner_icon {
  width: 65px;
  height: 50px; }

.sort-icon {
  font-size: 20px;
  margin-left: 20px; }

.sortable td {
  cursor: move; }

.banner-view {
  border-bottom: 1px solid rgba(112, 112, 112, 0.16); }

.add-service-group,
.add-subcategory-group {
  display: none;
  padding: 20px; }

.table-cell {
  border-top: 0 !important;
  padding: 0 !important; }

.question-card {
  background: #f1f5f7;
  border-radius: 10px;
  padding: 15px;
  min-height: 80px;
  margin-bottom: 10px; }
  .question-card h5 {
    font-size: 14px;
    margin-bottom: 0; }
  .question-card h3, .question-card .order-body .order-header .number, .order-body .order-header .question-card .number {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0; }
  .question-card .description {
    max-height: 150px;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 30px; }
  .question-card .see-all {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.chart-card li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 13px; }
  .chart-card li i {
    flex: none;
    width: 20px;
    height: 20px;
    margin-left: 10px; }

.attached-file {
  position: relative;
  min-width: 250px;
  background: rgba(112, 112, 112, 0.16);
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #9a9a9a;
  font-size: 13px; }
  .attached-file .file-image {
    width: 65px; }
  .attached-file button input {
    position: absolute;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    top: 0; }

.attached-row {
  min-height: 40px;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between; }
  .attached-row .file-image {
    width: 30px; }
  .attached-row span {
    font-size: 10px; }

.pagination {
  justify-content: center;
  margin-top: 20px; }
  .pagination .page-item .page-link {
    color: #343638;
    font-size: 12px; }
    .pagination .page-item .page-link:hover {
      background: #ffa800;
      color: white; }
    .pagination .page-item .page-link:focus {
      box-shadow: none; }
  .pagination .page-item.active .page-link {
    background: #ffa800;
    color: white; }
  .pagination .page-item.disabled {
    cursor: no-drop; }
    .pagination .page-item.disabled .page-link {
      color: #343638; }
  .pagination .page-item:first-child .page-link {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem; }
  .pagination .page-item:last-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.modal-header {
  align-items: center; }
  .modal-header .modal-title {
    font-size: 15px;
    color: #343638; }

.modal-body {
  padding: 10px; }
  .modal-body .order-table .table {
    margin-bottom: 5px; }
    .modal-body .order-table .table td {
      border-top: 0;
      padding: 5px; }
    .modal-body .order-table .table .name {
      cursor: auto; }
  .modal-body .body-details h3, .modal-body .body-details .order-body .order-header .number, .order-body .order-header .modal-body .body-details .number {
    color: #e70000;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px; }
  .modal-body .body-details p {
    font-size: 11px;
    color: #343638; }

.modal-footer {
  padding-top: 0;
  border-top: 0; }

.note-editor .dropdown-toggle {
  padding-right: 5px;
  width: auto !important; }
  .note-editor .dropdown-toggle::after {
    display: none; }
.note-editor .note-toolbar .note-dropdown-menu {
  text-align: right; }

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child) {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: unset;
  margin-right: -1px; }

.main-navbar .navbar-brand {
  margin: 0; }
@media (max-width: 767px) {
  .main-navbar .navbar-brand img {
    width: 100px; }
  .main-navbar .profile-nav li {
    padding: 0; } }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.9); }
  .loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 220px; }
  .loader svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%; }

#Path_84,
#Path_85,
#Path_87 {
  animation: pbounce 1.2s ease-in-out infinite both;
  -webkit-animation: pbounce 1.2s ease-in-out infinite both; }

@-webkit-keyframes pbounce {
  0%,
  80%,
  100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
@keyframes pbounce {
  0%,
  80%,
  100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
