.form__group {
  position: relative;
  margin: 5px 0 18px;
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border: 1px solid #ced4da;
    outline: 0;
    color: #212529;
    background: transparent;
    transition: border-color 0.2s;
    padding: 0.375rem 0.75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.25rem;
    z-index: 1;
    position: relative;
    min-height: 38px;
  }
  &.outline-english {
    text-align: left;
    .form__field {
      text-align: left;
    }
    label,
    .form__field:focus ~ .form__label {
      left: 10px;
      right: unset;
      text-align: left;
    }
    .calendar-icon {
      left: unset;
      right: 10px;
    }
  }

  .form__field::placeholder {
    color: transparent;
  }

  .form__field:placeholder-shown ~ .form__label {
    font-size: 12px;
    font-weight: 500;
    cursor: text;
    top: 10px;
    z-index: 0;
    color: #495057;
  }

  label,
  .form__field:focus ~ .form__label {
    position: absolute;
    top: -10px;
    right: 10px;
    display: block;
    transition: 0.1s;
    color: #212529;
    background: white;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700;
    z-index: 1;
  }
  .calendar-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: $color-orange;
  }
}
