$color-red: #e70000;
$color-red-light: #ff3838;
$color-red-opacity: rgba(231, 0, 0, 0.5);
$color-orange: #ffa800;
$color-gray: #9a9a9a;
$color-gray-light: rgba(112, 112, 112, 0.16);
$color-black: #343638;
$color-black-light-opacity: rgba(0, 0, 0, 0.33);
$color-black-bold-opacity: rgba(0, 0, 0, 0.9);
$color-white-light: #f1f5f7;

// Fonts
$font-cairo: "cairo", sans-serif;

$font-thin: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;
