/* You can add global styles to this file, and also import other style files */
@import "./variables", "./mixins", "./custom_input";

body {
  font-family: $font-cairo;
  direction: rtl;
  text-align: right;
  overflow-x: hidden;
  position: relative;
}
html {
  overflow-x: hidden;
}

/*Start General*/
textarea {
  resize: none;
}

ul {
  list-style: none;
  margin-bottom: 0;
}
label {
  font-size: 14px;
}
a {
  color: $color-black;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $color-black;
    outline: none;
  }
}
input.form-control,
select.form-control {
  &:focus {
    outline: none;
    border-color: initial;
    box-shadow: none;
  }
}

button:focus,
.btn:focus,
.form-control:focus,
select {
  outline: 0;
  box-shadow: none !important;
}

* {
  border: 0 none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: $font-cairo !important;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

a,
button {
  @include transition();
  cursor: pointer;
}
input.form-control:focus,
select.form-control:focus {
  outline: none;
  border-color: initial;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input:disabled {
  background: $color-gray-light !important;
}

.position-relative {
  position: relative;
}
.btn-orange {
  border-radius: 4px;
  background: $color-orange;
  color: white;
  border: 1px solid $color-orange;
  min-width: 70px;
  font-size: 12px;
  padding: 6px 14px;
  font-weight: $font-semibold;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  &:hover {
    background: $color-red;
    color: white;
    border-color: $color-red;
  }
}
.btn-red {
  @extend .btn-orange;
  background-color: $color-red;
  border-color: $color-red;
  &:hover {
    background: $color-orange;
    border-color: $color-orange;
  }
}
.btn-black {
  @extend .btn-orange;
  background-color: $color-black;
  border-color: $color-black;
  &:hover {
    background: $color-orange;
    border-color: $color-orange;
  }
}
.btn-outline {
  @extend .btn-orange;
  background-color: transparent;
  border-color: $color-orange;
  color: $color-black;
  &:hover {
    background: $color-orange;
    border-color: $color-orange;
  }
}
.btn-sort {
  background: transparent;
  width: 20px;
  height: 20px;
  font-size: 15px;
  color: $color-red;
}
.btn-cancel {
  background: transparent;
  border-bottom: 1px solid $color-red;
  color: $color-red;
  margin-right: 15px;
  font-size: 12px;
  font-weight: $font-bold;
}

.btn-file {
  display: inline-block;
  padding: 0;
  label {
    margin-bottom: 0;
    padding: 6px 14px;
    cursor: pointer;
  }
  input[type="file"] {
    display: none;
  }
}
.btn-expandable {
  width: 30px;
  height: 30px;
  background: $color-orange;
  color: white;
  font-size: 20px;
  margin-left: 5px;
  flex: none;
}
.btn-popup {
  @extend .btn-expandable;
  background: $color-red;
  margin-left: 0;
  margin-right: 5px;
}
.orange-color {
  color: $color-orange !important;
}
.black-color {
  color: black !important;
}
.red-color {
  color: $color-red !important;
}
.gray-color {
  color: $color-gray !important;
}
.orange-bg {
  background: $color-orange !important;
}
.black-bg {
  background: black !important;
}
.red-bg {
  background: $color-red !important;
}
.gray-bg {
  background: $color-gray !important;
}
.w-20 {
  width: 20px !important;
}
.w-55 {
  width: 55px !important;
}
.w-80 {
  width: 80px !important;
}
.w-125 {
  width: 125px !important;
}
.w-200 {
  width: 200px !important;
}
.w-250 {
  width: 250px !important;
}
.text-samll {
  font-size: 10px;
}
.custom-select {
  cursor: pointer;
  font-size: 12px;
  padding: 0.375rem 0.75rem 0.375rem 1.75rem;
  background-position-x: 7px;
  height: 32px;
}
.outline-label {
  margin-top: 5px;
  label {
    position: absolute;
    margin-bottom: 0px;
    top: -5px;
    background: white;
    margin: 0 10px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: $font-bold;
  }
  &.outline-english {
    text-align: left;
    direction: ltr;
    .custom-select {
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      background-position-x: right;
      background: #fff url(../images/download.svg) no-repeat right 0.75rem
        center;
      background-size: 8px 10px;
    }
  }
  .custom-select {
    height: 38px;
  }
}

.list-title {
  background: $color-orange;
  color: white;
  font-size: 12px;
  padding: 10px;
  font-weight: $font-bold;
  margin-bottom: 20px;
}

// End General

// Start Login
.login-page {
  min-height: calc(100vh);
  position: relative;
  display: flex;
  align-items: center;
}
.login-container {
  .login-intro {
    margin-bottom: 35px;
    margin-top: 20px;
    img {
      margin-bottom: 70px;
    }
    h4 {
      font-size: 18px;
      color: $color-black;
      font-weight: $font-bold;
      margin-bottom: 18px;
    }
  }
  .login-header {
    h5 {
      margin-bottom: 25px;
      position: relative;
      padding-right: 10px;
      color: $color-red;
      font-size: 16px;
      font-weight: $font-bold;
      padding: 5px 15px;
      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 6px;
        background: $color-red;
      }
    }
    @media (min-width: 767px) {
      .form {
        max-width: 450px;
      }
    }
    .reset {
      color: $color-gray;
      font-size: 14px;
      &:hover {
        color: $color-black;
      }
    }
    .btn-orange {
      min-width: 150px;
    }
  }
  @media (min-width: 767px) {
    .bg-image {
      background: url(../images/login_bg.jpg) top center no-repeat;
      background-size: cover;
      width: 100%;
      min-height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      max-width: 50%;
    }
  }
  .code-validation {
    font-weight: $font-bold;
    letter-spacing: 3px;
    font-size: 20px;
  }
  .register-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .my-profile-image {
      border: 0;
    }
  }
  .form-control {
    padding: 0 0.75rem;
    height: 42px;
    color: $color-black;
    font-size: 14px;
  }
  textarea.form-control {
    padding: 0.75rem;
    height: auto;
  }
  ::-webkit-input-placeholder {
    color: $color-gray;
    font-size: 14px;
  }

  :-ms-input-placeholder {
    color: $color-gray;
    font-size: 14px;
  }

  ::placeholder {
    color: $color-gray;
    font-size: 14px;
  }
}
.change-password {
  position: relative;
  input {
    padding-left: 40px !important;
  }
  i {
    position: absolute;
    left: 0;
    top: 0px;
    width: 30px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    color: $color-gray;
    &:hover {
      color: $color-orange;
    }
  }
}
//  End Login

//  Start Dashboard
.dashboard-container {
  @media (min-width: 768px) {
    margin-top: -145px;
  }
  .custom-select {
    max-width: 120px;
    background-color: $color-orange;
    border-color: $color-orange;
    color: white;
    &.red-select {
      background-color: $color-red;
      border-color: $color-red;
    }
  }
}
.dashboard-chart {
  border-radius: 8px;
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px $color-gray-light;

  h6 {
    margin-bottom: 0;
    font-size: 13px;
  }
}
.dashboard-card {
  background: white;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  box-shadow: 0 0 10px $color-gray-light;

  h5 {
    font-size: 13px;
    margin-bottom: 0;
  }
  h3 {
    font-weight: $font-bold;
    font-size: 22px;
    margin-bottom: 0;
  }
}
.chartjs-render-monitor {
  max-height: 300px;
}
//  End Dashboard

//  Start Complains
.users-container {
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px $color-gray-light;
  padding-bottom: 10px;
  .nav-tabs {
    background: white;
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    .nav-item {
      border-right: 1px solid white;

      .nav-link {
        border: 0;
        border-radius: 0;
        color: $color-red;
        font-size: 13px;
        padding: 15px 20px;
        cursor: pointer;
        text-transform: capitalize;
        &:hover,
        &.active {
          background: $color-red;
          color: white;
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
  .order-table {
    .order-image {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
  }
}
.user-details {
  @extend .users-container;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 10px;
  .user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px 8px 0 0;
    min-height: 45px;
    h4 {
      font-size: 13px;
      margin-bottom: 3px;
    }
    .user-status {
      display: flex;
    }
  }
  .user-body {
    input,
    textarea {
      padding: 5px;
      height: auto;
      font-size: 14px;
      &[disabled] {
        border: none;
        background: transparent;
        font-size: 12px;
        color: $color-red;
      }
    }
    .title-label {
      text-transform: capitalize;
      font-weight: $font-bold;
    }
    .color-orange {
      input {
        color: $color-orange;
        font-size: 12px;
      }
    }

    .user-image {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: 1px solid;
    }
  }
  .checkbox {
    margin-bottom: 0;
    label {
      text-align: center;
      display: inline-block;
    }
  }
  &.roles-container {
    .user-header {
      background: $color-red;
      border-radius: 0;
      padding: 10px;
      min-height: 38px;
      h4 {
        margin-bottom: 3px;
        color: white;
      }
    }
    .user-body {
      thead {
        background: white;
      }
    }
  }
  &.reply-table {
    .user-header {
      background: $color-orange;
    }
  }
  .interests {
    padding: 10px 0;
    background: white;
    p {
      padding: 0 6px;
      color: $color-black;
      font-size: 12px;
      font-weight: $font-normal;
    }
  }
}
//  Start Complains

// Start Custom Radio Button
.custom-radio {
  padding-left: unset;
  .custom-control-label {
    cursor: pointer;
    font-size: 14px;
    color: $color-gray;
    padding-right: 1.5rem;
    &::before {
      top: 6px;
      left: unset;
      right: 0;
      background: transparent;
      border: 1px solid $color-gray;
    }
    &::after {
      top: 6px;
      left: unset;
      right: 0;
    }
  }
  .custom-control-input:checked {
    ~ .custom-control-label {
      &::before {
        background: transparent;
      }
      &:after {
        background: $color-orange;
        top: 9px;
        right: 3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
  }
}
.custom-control-inline {
  margin-right: 0;
  margin-left: 1rem;
  align-items: center;
}
.custom-check {
  @extend .custom-radio;
  .custom-control-label {
    &::before {
      border-radius: 0 !important;
    }
    &::after {
      border-radius: 0 !important;
    }
  }
}
// End Custom Radio Button

// Start Top Header
.main-navbar {
  position: relative;

  background: url(../images/topheader.jpg) no-repeat;
  background-size: cover;
  min-height: 280px;
  padding-top: 20px;
  nav {
    padding: 0;
  }
  .nav-item {
    .nav-link {
      color: white;
      font-size: 14px;
      font-weight: $font-semibold;
      cursor: pointer;
      padding: 5px 10px;
      background: transparent !important;
    }
    .language-btn {
      border: 1px solid white;
    }
    &:hover .nav-link {
      color: white;
    }
    &.active {
      a {
        color: white;
      }
    }
    &:focus {
      a {
        color: white;
      }
    }
  }

  .profile-nav {
    position: relative;
    align-items: center;
    li {
      display: inline-block;
      padding: 0 10px;
      &.notification {
        border-left: 2px solid $color-gray;
      }
      .user_image {
        max-width: 30px;
        max-height: 30px;
        border-radius: 50%;
        margin-left: 5px;
      }
      .dropdown-item {
        img {
          width: 18px;
          margin-left: 10px;
        }
        .profile-image-mobile {
          display: none;
        }
        &:hover .profile-image-mobile {
          display: inline-block;
        }
        &:hover .profile-image {
          display: none;
        }
      }
      &:last-child {
        padding-left: 0;
        margin-left: 0;
        border: 0;
      }
      a {
        color: $color-gray;
      }
    }
  }
  .logo-mobile {
    display: none;
  }
  .profile-nav-mobile {
    box-shadow: 0 0 7px 2px $color-gray-light;
    padding: 10px 0;
    display: none;
  }
}
.heart-icon {
  position: relative;
  background: white;

  text-align: center;
  &:hover {
    color: $color-red;
  }
  span {
    position: absolute;
    right: -6px;
    top: -10px;
    min-width: 25px;
    min-height: 25px;
    background: $color-red;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
    border: 2px solid white;
  }
}
.custom-dropdown {
  padding: 0;
  border: none;
  border-radius: 0;
  text-align: right;
  box-shadow: 0 0 10px $color-gray-light;
  min-width: 180px;
  max-width: 250px;
  right: auto;
  left: 0;
  max-height: 200px;
  overflow: auto;
  top: 52px;

  a,
  button {
    padding: 8px 10px;
    font-size: 12px;
    border-bottom: 1px solid $color-gray-light;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    &:hover {
      background: $color-red;
      color: white !important;
    }
  }
}
// End Top Header

// Start Sidebar
.sidebar {
  margin-top: -138px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .sidebar-body {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 85px 85px;

    a {
      font-size: 12px;
      color: $color-black;
      min-width: 79px;
      min-height: 79px;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-left: 5px;
      border-radius: 4px;
      font-weight: $font-semibold;
      margin-bottom: 6px;
      text-transform: capitalize;
      img {
        display: block;
        margin-bottom: 5px;
      }
      &:hover {
        background: $color-red;
        color: white;
        .img-active {
          display: none;
        }
        .img-inactive {
          display: block;
        }
      }
    }
    .img-inactive {
      display: none;
    }
    .active {
      background: $color-red;
      color: white;
      .img-active {
        display: none;
      }
      .img-inactive {
        display: block;
      }
    }
  }
}
// End Sidebar

// Start Top Search
.main-container {
  position: relative;
  @media (min-width: 768px) {
    margin-top: -145px;
  }

  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-lg-8,
  .col-lg-4,
  .col-md-12 {
    padding-right: 6px;
    padding-left: 6px;
  }
}
.double-header {
  .top-search {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .top-header-page {
    margin-bottom: 0;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.top-search {
  background: $color-black-light-opacity;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 20px;
  &.top-report-search {
    background: transparent;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 1px solid $color-gray-light;
    &.top-search-visitors-rate {
      flex-wrap: wrap;
      justify-content: normal;
    }
    li {
      &:first-child {
        flex: none;
      }
    }
    .header-select {
      position: relative;
      .custom-select {
        color: $color-black;
      }
    }
    .date-group {
      color: $color-black;
      .btn {
        color: $color-red;
      }
    }
    .date-calendar {
      color: $color-black !important;
      font-size: 12px;
      &::-webkit-input-placeholder {
        color: $color-black;
      }
      &:-ms-input-placeholder {
        color: $color-black;
      }
      &::placeholder {
        color: $color-black;
      }
    }
  }
  li {
    margin-left: 8px;
    margin-bottom: 2px;
    &.search-title {
      h6 {
        font-size: 13px;
        color: white;
        margin-bottom: 0;
        font-weight: $font-bold;
      }
    }
    &.search-input {
      flex: 1;
    }
    &:last-child {
      margin-left: 0;
      flex: none;
    }
  }
  .search-input {
    min-width: 285px;
    border-radius: 0 8px 8px 0;
    border-color: transparent;
  }
  ::-webkit-input-placeholder {
    color: $color-gray;
    font-size: 12px;
  }

  :-ms-input-placeholder {
    color: $color-gray;
    font-size: 12px;
  }

  ::placeholder {
    color: $color-gray;
    font-size: 12px;
  }
  .date-group {
    color: white;
    font-size: 11px;
    align-items: center;
    .btn {
      color: white;
      padding: 0;
    }
  }
  .header-select {
    position: relative;

    .custom-select {
      cursor: pointer;
      color: white;
      background: transparent;
      font-size: 12px;
      border-color: transparent;
      text-transform: capitalize;
      max-width: 134px;
      padding: 0 10px;
      option {
        background: transparent;
      }
    }
    .select-group {
      display: flex;
      align-items: center;
      .select-arrow {
        color: $color-red;
      }
    }
  }
  .calendar-search {
    position: relative;
    .form__field {
      color: white;
      background: transparent;
      font-size: 12px;
      position: relative;
      z-index: 1;
    }
    .calendar-icon {
      color: $color-red;
      position: absolute;
      left: 25px;
      top: 4px;
    }
    ::-webkit-input-placeholder {
      color: white;
      font-size: 12px;
    }
    :-ms-input-placeholder {
      color: white;
      font-size: 12px;
    }

    ::placeholder {
      color: white;
      font-size: 12px;
    }
  }
  .dropdown-group {
    .btn {
      color: white;
      background: transparent;
      font-size: 13px;
      &:focus,
      &:hover {
        background: transparent;
        outline: none;
        box-shadow: none;
      }
    }
  }
  .btn-search {
    width: 40px;
    min-width: auto;
    border-radius: 8px 0 0 8px;
  }
  ngb-datepicker.dropdown-menu {
    padding: 0;
    top: 100% !important;
    transform: translate(0) !important;
  }
}
// End Top Search

// Start data table
.order-body {
  padding: 10px 10px 15px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px $color-gray-light;
  .order-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray-light;
    min-height: 34px;

    .page-breadcrumb {
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: none;
      .breadcrumb {
        border: 0;
        padding: 0;
        margin: 0;
      }
    }
    h3 {
      font-size: 14px;
      color: $color-black;
      font-weight: $font-semibold;
      margin-bottom: 2px;
    }
    .badge {
      margin-left: 5px;
      min-width: 40px;
      height: 25px;
      line-height: 25px;
      padding: 0 2px;
      background: $color-orange;
      color: white;
      border-radius: 20px;
    }
    .number {
      @extend h3;
    }

    @media (max-width: 767px) {
      .btn-red {
        margin-bottom: 2px;
      }
    }
  }
  .circle-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
}
.order-table {
  .table {
    thead {
      background: $color-white-light;
    }
    td {
      font-weight: $font-semibold;
      color: $color-black;
      font-size: 12px;
      vertical-align: middle;
      padding: 4px;
      text-transform: lowercase;
      height: 50px;
    }
    th {
      font-weight: $font-bold;
      color: $color-black;
      font-size: 11px;
      vertical-align: middle;
      text-transform: capitalize;
      border-bottom: 1px;
      padding: 10px 4px;
    }
    .name {
      font-weight: $font-bold;
      color: $color-black;
      font-size: 12px;
      text-transform: lowercase;
    }
  }
  .img-table {
    height: 50px;
    width: 50px;
  }
  .custom-select {
    cursor: pointer;
    font-size: 12px;
    width: auto;
    max-width: 150px;
  }
}
.table-dropdown {
  .dropdown-toggle {
    background: transparent;
    font-size: 22px;
    color: $color-black;
    padding: 4px 6px;
    &:hover {
      color: $color-red;
    }
    &::after {
      display: none;
    }
  }
  .custom-dropdown {
    text-align: center;
    left: 0 !important;
    right: auto !important;
    min-width: 100px;
    box-shadow: 0 0 10px $color-gray-light;
    border-radius: 8px;
    text-align: right;
    i {
      margin-left: 10px;
    }
  }
}
// End data table

// Start page
.top-header-page {
  li {
    margin-bottom: 2px;
    margin-left: 1px;
    &:first-child {
      flex: none;
    }
  }
  .btn-red {
    min-width: 200px;
    background: $color-red-opacity;
    border-color: $color-orange;
    &:hover,
    &.active {
      background: $color-red;
      border-color: $color-red;
    }
  }
  &.top-header-data {
    .btn-red {
      min-width: 140px;
    }
  }

  @media (max-width: 500px) {
    justify-content: center !important;
    .btn-red {
      min-width: 150px;
    }
  }
}
.page-breadcrumb {
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 10px $color-gray-light;
  &.inner-breadcrumb {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    .breadcrumb {
      border-bottom: 0;
      margin: 0;
      padding: 0;
    }
  }
  .breadcrumb-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray-light;
    flex-wrap: wrap;
    .breadcrumb {
      border: 0;
      margin-bottom: 2px;
    }
  }
  .breadcrumb {
    background: white;
    border-bottom: 1px solid $color-gray-light;
    border-radius: 0;
    .breadcrumb-item {
      color: $color-black;
      font-size: 13px;
      text-transform: capitalize;
      font-weight: $font-semibold;
    }
  }
  .breadcrumb-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .custom-select,
    .btn-red {
      margin-left: 4px;
    }
  }
  @media (max-width: 991px) {
    .px-5 {
      padding: 2px 5px !important;
    }
  }
}
.custom-tabs {
  border-bottom: 0;
  margin-bottom: 15px;
  .nav-item {
    .nav-link {
      border: 0;
      border: 1px solid $color-gray-light;
      border-radius: 0;
      color: $color-black;
      font-size: 11px;
      padding: 11px 15px;
      font-weight: $font-bold;
      &.active,
      &:hover {
        background: $color-orange;
        color: white;
      }
    }
  }
  &.justify-content-change-content {
    .nav-item {
      .nav-link {
        border: 1px solid $color-gray;
        color: $color-gray;
        padding: 10px 20px;
        &.active,
        &:hover {
          color: white;
          border-color: $color-red;
          background: $color-red;
        }
      }
    }
  }
}
.add-new-release {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;

  .cover-container {
    display: flex;
    align-items: flex-end;
    .cover-title {
      font-size: 13px;
      display: inline-block;
      margin-bottom: 10px;
      font-weight: $font-bold;
      color: $color-black;
    }
    .release-image {
      width: 100px;
      margin-left: 10px;
    }
  }
}
.minsiter-logo {
  width: 95px;
  height: 95px;
}
.event-logo {
  width: 150p;
  height: 120px;
}
.minister-list {
  h4 {
    font-size: 13px;
    color: $color-black;
    font-weight: $font-bold;
  }
  h5 {
    font-size: 12px;
    color: $color-black;
  }
}
.minister-details {
  label {
    font-size: 11px;
    font-weight: $font-bold;
  }
  span {
    font-size: 12px;
  }
}
.interests {
  display: inline-block;
  background: $color-gray-light;
  min-width: 90px;
  padding: 7px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: $font-bold;
}
.link {
  font-size: 12px !important;
  color: blue !important;
}
.description {
  font-size: 12px;
  color: $color-black;
}
// End page

// Start Banner
.banner {
  width: 100%;
  height: 180px;
}
.banner_icon {
  width: 65px;
  height: 50px;
}
.sort-icon {
  font-size: 20px;
  margin-left: 20px;
}
.sortable {
  td {
    cursor: move;
  }
}
.banner-view {
  border-bottom: 1px solid $color-gray-light;
}

.add-service-group,
.add-subcategory-group {
  display: none;
  padding: 20px;
}
.table-cell {
  border-top: 0 !important;
  padding: 0 !important;
}
// End Banner

// Start Question
.question-card {
  background: $color-white-light;
  border-radius: 10px;
  padding: 15px;
  min-height: 80px;
  margin-bottom: 10px;
  h5 {
    font-size: 14px;
    margin-bottom: 0;
  }
  h3 {
    font-size: 22px;
    font-weight: $font-bold;
    margin-bottom: 0;
  }
  .description {
    max-height: 150px;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 30px;
  }
  .see-all {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.chart-card {
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;
    i {
      flex: none;
      width: 20px;
      height: 20px;
      margin-left: 10px;
    }
  }
}
// End Question

// Start upload

.attached-file {
  position: relative;
  min-width: 250px;
  background: $color-gray-light;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: $color-gray;
  font-size: 13px;
  .file-image {
    width: 65px;
  }

  button {
    input {
      position: absolute;
      left: 0;
      right: 0;
      width: 100% !important;
      height: 100% !important;
      opacity: 0;
      top: 0;
    }
  }
}
.attached-row {
  min-height: 40px;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
  .file-image {
    width: 30px;
  }
  span {
    font-size: 10px;
  }
}
// End  upload

// Start pagination
.pagination {
  justify-content: center;
  margin-top: 20px;
  .page-item {
    .page-link {
      color: $color-black;
      font-size: 12px;
      &:hover {
        background: $color-orange;
        color: white;
      }
      &:focus {
        box-shadow: none;
      }
    }
    &.active {
      .page-link {
        background: $color-orange;
        color: white;
      }
    }
    &.disabled {
      cursor: no-drop;
      .page-link {
        color: $color-black;
      }
    }
    &:first-child .page-link {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    &:last-child .page-link {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
// End pagination

// Start Model

.modal-header {
  align-items: center;
  .modal-title {
    font-size: 15px;
    color: $color-black;
  }
}

.modal-body {
  padding: 10px;
  .order-table {
    .table {
      margin-bottom: 5px;
      td {
        border-top: 0;

        padding: 5px;
      }
      .name {
        cursor: auto;
      }
    }
  }
  .body-details {
    h3 {
      color: $color-red;
      font-size: 14px;
      font-weight: $font-medium;
      margin-bottom: 5px;
    }
    p {
      font-size: 11px;
      color: $color-black;
    }
  }
}
.modal-footer {
  padding-top: 0;
  border-top: 0;
}

// End Model

//Start Summernote
.note-editor {
  .dropdown-toggle {
    &::after {
      display: none;
    }
    padding-right: 5px;
    width: auto !important;
  }
  .note-toolbar {
    .note-dropdown-menu {
      text-align: right;
    }
  }
}

.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child) {
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group,
.btn-group-vertical .btn + .btn,
.btn-group-vertical .btn + .btn-group,
.btn-group-vertical .btn-group + .btn,
.btn-group-vertical .btn-group + .btn-group {
  margin-left: unset;
  margin-right: -1px;
}
//End Summernote

// Start responsive
.main-navbar {
  .navbar-brand {
    margin: 0;
  }
  @media (max-width: 767px) {
    .navbar-brand {
      img {
        width: 100px;
      }
    }
    .profile-nav {
      li {
        padding: 0;
      }
    }
  }
}
// End responsive

// Start Loading
.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background: $color-black-bold-opacity;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
  }
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
  }
}

#Path_84,
#Path_85,
#Path_87 {
  animation: pbounce 1.2s ease-in-out infinite both;
  -webkit-animation: pbounce 1.2s ease-in-out infinite both;
}

@-webkit-keyframes pbounce {
  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes pbounce {
  0%,
  80%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

// End Loading
