.preloader {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  direction: ltr;
}

.preloader:before,
.preloader:after {
  position: absolute;
  left: 0;
  height: 51%;
  width: 100%;
  transition: all 0.6s ease;
  background: #fff;
  content: "";
}

.preloader:before {
  top: 0;
}

.page-loaded .preloader:before {
  transform: translate(0, -100%);
}

.preloader:after {
  bottom: 0;
}

.page-loaded .preloader:after {
  transform: translate(0, 100%);
}

.preloader.no-default {
  background-color: #0f1932;
}

.page-loaded .preloader.no-default:before,
.page-loaded .preloader.no-default:after {
  transform: translate(0, 0);
}

.preloader.no-default:before,
.preloader.no-default:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s;
  background-color: #0f1932;
}

.preloader-alt:after,
.preloader-alt:before {
  background: #202b47;
}

.page-loaded .preloader.no-split:before,
.page-loaded .preloader.no-split:after {
  transform: translate(0, 0);
}

.spinner {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 70px;
  z-index: 1001;

  transform: translate(-50%, -50%);
}

.spinner-alt {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.spinner-alt:after,
.spinner-alt:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner-alt:before {
  border: 1px solid rgba(112, 112, 112, 0.2);
}

.spinner-alt:after {
  border: 1px solid;
  border-top-color: white;
  border-right-color: transparent;
  border-left-width: 0;
  border-bottom-width: 0;
  animation: spin 1.5s linear infinite;
}

.spinner-brand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
